{% extends 'admin/insta_status.html' %}

{% block title %} IW Insta Cookie {% endblock %}

{% block content2 %}
    <div class="row">
        <div class="col-md">
    <h1>Set Instagram Cookie</h1>

    <form action="{{ url_for('admin.insta_cookie') }}" method="post">
        {% with messages = get_flashed_messages(True) %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li><mark class="{{ message[0] }}">{{ message[1] }}</mark></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {{ form.hidden_tag() }}
        {{ form.cookie.label }}
        {{ form.cookie() }}<br>
        {{ form.submit() }}
    </form>

    </div>
    <div class="col-sm">
        <h1>Last Instagram Cookie</h1>
        <p>{{ cookie }}</p>
    </div>
    </div>
{% endblock %}
{% block javascript %}{% endblock %}
