{% extends 'admin/insta_status.html' %}

{% block title %} IW Insta Setting {% endblock %}

{% block content2 %}
    <div class="row">
        <div class="col-md">
            <h1>Error</h1>
            <a href="{{ url_for('admin.del_insta')}}" class="button">Delete Browser</a>
            <a href="{{ url_for('admin.insta_cookie')}}" class="button">Insta Cookie</a>
        </div>

        <div class="col">
            <figure><img src="{{ screen }}" alt="" style="width: 400px;object-fit: none;height: 600px;object-position: top;"></figure>
        </div>
    </div>
{% endblock %}
{% block javascript %}{% endblock %}
