{% extends 'admin/base_dashboard.html' %}

{% block title %} IW Register Admin {% endblock %}

{% block content %}
    <h1>Register Admin</h1>

    <form action="{{ url_for('admin.register_admin') }}" method="post">
        {% with messages = get_flashed_messages(True) %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li><mark class="{{ message[0] }}">{{ message[1] }}</mark></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {{ form.hidden_tag() }}
        {{ form.new_username.label }}
        {{ form.new_username() }}
        {{ form.role.label }}
        {{ form.role() }}<br>
        {{ form.new_password.label }}
        {{ form.new_password() }}<br>
        {{ form.confirm_password.label }}
        {{ form.confirm_password() }}<br><br>
        {{ form.current_password.label }}{{ form.current_password() }}{{ form.submit() }}
    </form>

{% endblock %}
{% block javascript %}{% endblock %}
